@model IEnumerable<OniroHotel.Models.Reservations>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Content/Rooms.min.css">

<h2 class="text-center my-4">Lista Prenotazioni</h2>

@foreach (var item in Model) {
    <div class="@(item.IsValid ? "custom-form" : "custom-form-delete") mb-3">
        <h4>Intestatario</h4>
        <p>@Html.DisplayFor(modelItem => item.UserID)</p>
        <h4>Data Check-in</h4>
        <p>@Html.DisplayFor(modelItem => item.InDate)</p>
        <h4>Data Check-out</h4>
        <p>@Html.DisplayFor(modelItem => item.OutDate)</p>
        <h4>Trattamento</h4>
        <p>@Html.DisplayFor(modelItem => item.Treatment)</p>
        <h4>Prezzo Totale</h4>
        <p>@Html.DisplayFor(modelItem => item.Total)</p>
        <h4>Valida</h4>
        <p>@Html.DisplayFor(modelItem => item.IsValid)</p>
        <h4>Ospiti</h4>
        <p>@Html.DisplayFor(modelItem => item.Guests)</p>
        <div class="d-flex justify-content-center">
            @Html.ActionLink("Modifica", "Edit", new { id = item.ResID }, new { @class = "link custom-btn m-1 px-2" })
            @Html.ActionLink("Dettagli", "Details", new { id = item.ResID }, new { @class = "link custom-btn m-1 px-2" })
            <button type="button" class="custom-btn m-1 px-2 delete-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-id="@item.ResID">
                Elimina
            </button>
        </div>
    </div>
}

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Elimina Prenotazione</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Sei davvero sicuro di voler eliminare questa prenotazione?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteLink" class="btn btn-danger">Elimina</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.delete-btn').on('click', function() {
            var resId = $(this).data('id');
            var url = '@Url.Action("SetInvalid", "Reservations")' + '?id=' + resId;
            $('#deleteLink').attr('href', url);
        });
    });
</script>