@model OniroHotel.Models.CartViewModel
@{
    ViewBag.Title = "Cart";
}
<link rel="stylesheet" href="~/Content/Cart.min.css">

<h2 class="text-center">La tua prenotazione</h2>


    @if (Model != null && Model.Room != null)
    {
        <div class="row justify-content-center">
            <div class="wrapper col-md-4">
                <h1>@Model.Room.RoomName</h1>
                <img src="@Model.Room.RoomImg" class="image" />
                <div class="details">
                    <h2>@Model.Room.RoomPrice€ / notte</h2>
                </div>
            </div>
        </div>
    }

@using (Html.BeginForm("Confirm", "Cart", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    if (Session["InDate"] != null & Session["OutDate"] != null)
    {
        @Html.Hidden("inDate", ((DateTime)Session["InDate"]).ToString("yyyy-MM-dd"))
        @Html.Hidden("outDate", ((DateTime)Session["OutDate"]).ToString("yyyy-MM-dd"))
    }
    else
    {
        @Html.Hidden("inDate", ((DateTime)Session["inDate"]).ToString("yyyy-MM-dd"))
        @Html.Hidden("outDate", ((DateTime)Session["outDate"]).ToString("yyyy-MM-dd"))
    }

    <h2 class="text-center mt-3">Extra disponibili</h2>
    <div class="row row-cols-xxl-5 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-1 my-2 justify-content-evenly">
        @foreach (var extra in Model.Extras)
        {
            bool isAdded = Model.SelectedExtras.Any(e => e.ExtraID == extra.ExtraID);
            <div class="card col mx-1 mb-3 @if (isAdded) { <text>added-extra</text> }">
                <div class="card-body">
                    <div class="card-img">
                        <img src="@extra.ExtraImg" />
                    </div>
                    <div class="card-title">@extra.ExtraName</div>
                </div>
                <hr class="card-divider">
                <div class="card-footer">
                    <div class="card-price"><span>€</span> @extra.ExtraPrice</div>
                    <input type="checkbox" name="extraIds" value="@extra.ExtraID" class="card-btn" @if (isAdded) { <text> checked</text> } />
                </div>
            </div>
        }
    </div>

    <div class="wrapper-extra mt-4">
        <div class="custom-form">
            <div class="d-flex justify-content-center">
                <p class="fs-4 d-inline-block">Seleziona trattamento</p>
                @Html.DropDownList("treatment", new List<SelectListItem>
                {
                new SelectListItem { Text = "BB", Value = "BB"},
                new SelectListItem { Text = "HB", Value = "HB"},
                new SelectListItem { Text = "FB", Value = "FB"}
                }, "Seleziona", new { @class = "custom-input ms-2" })
            </div>

            <div class="d-flex justify-content-center mt-3">
                <p class="fs-4 d-inline-block">Numero ospiti</p>
                @Html.DropDownList("guests", new List<SelectListItem>
                {
                new SelectListItem { Text = "1", Value = "1"},
                new SelectListItem { Text = "2", Value = "2"},
                new SelectListItem { Text = "3", Value = "3"},
                new SelectListItem { Text = "4", Value = "4"}
                }, "Seleziona", new { @class = "custom-input ms-2" })
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center my-4">
        <input type="submit" value="Conferma Prenotazione" class="custom-btn" />
    </div>
}