@model OniroHotel.Models.Extras

@{
    ViewBag.Title = "Edit";
}
<link rel="stylesheet" href="~/Content/Forms.min.css">



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="custom-form">
        <h2>Modifica Extra</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ExtraID)

        <div class="form-group">
            @Html.LabelFor(model => model.ExtraName, htmlAttributes: new { @class = "col-md-8 custom-label mt-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExtraName, new { htmlAttributes = new { @class = "mt-2 col-md-10 custom-input" } })
                @Html.ValidationMessageFor(model => model.ExtraName, "", new { @class = "text-danger d-block" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExtraImg, htmlAttributes: new { @class = "col-md-8 custom-label mt-3" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExtraImg, new { htmlAttributes = new { @class = "mt-2 col-md-10 custom-input" } })
                @Html.ValidationMessageFor(model => model.ExtraImg, "", new { @class = "text-danger d-block" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExtraPrice, htmlAttributes: new { @class = "col-md-8 custom-label mt-3" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExtraPrice, new { htmlAttributes = new { @class = "mt-2 col-md-10 custom-input" } })
                @Html.ValidationMessageFor(model => model.ExtraPrice, "", new { @class = "text-danger d-block" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5">
                <input type="submit" value="Save" class="custom-btn mt-3" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
